#themenu
{
  width: 99%;
}

#themenu:after
{ /*Add margin between menu and rest of content in Firefox*/
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

#themenu ul
{
  border: 1px solid #BBB;
  width: 100%;
  background: url(chromebg2.gif) center center repeat-x; /*Theme Change here*/
  margin-left: 0;
  padding-left: 0;
  margin: 0;
  float: left;
  font: bold 12px Verdana;
}

#themenu ul li
{
  display: inline;
}

#themenu ul li a
{
  float: left;
  color: blue; 
  font-weight: bold;
  padding: 6px 12px 6px 7px;
  text-decoration: none;
  background: url(divider2.gif) center right no-repeat; /*Theme Change here*/
}

#themenu ul li a:hover
{
  color: #494949;
}

#themenu ul li a[onMouseover]:after
{ /*HTML to indicate drop down link*/
  content: " ";
/*content: " " url(downimage.gif); /*uncomment this line to use an image instead*/
}

/* ######### Style for Drop Down Menu ######### */
.dropmenudiv
{
  position:absolute;
  top: 0;
  border: 1px solid #B5E2FE; /*Theme Change here*/
  border-bottom-width: 0;
  font:normal 11px Verdana;
  line-height:18px;
  z-index:100;
  background-color: white;
  width: 200px;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}

.dropmenudiv a
{
  width: 100%;
  display: block;
  text-indent: 3px;
  border-bottom: 1px solid #B5E2FE; /*Theme Change here*/
  padding: 2px 0;
  text-decoration: none;
  font-weight: normal;
  color: blue;
}

.dropmenudiv a:hover
{ /*Theme Change here*/
  background-color: #EBF7FF;
}

.body
{
  MARGIN-TOP: 0px;
  BACKGROUND-COLOR: white
}

.heading
{
  FONT-WEIGHT: bold;
  FONT-SIZE: 16pt;
  TEXT-TRANSFORM: none;
  COLOR: blue;
  FONT-STYLE: normal;
  FONT-FAMILY: Arial;
  BACKGROUND-COLOR: transparent;
  TEXT-ALIGN: center;
  FONT-VARIANT: normal;
  TEXT-DECORATION: none
}

.headingleft
{
  FONT-WEIGHT: bold;
  FONT-SIZE: 16pt;
  TEXT-TRANSFORM: none;
  COLOR: blue;
  FONT-STYLE: normal;
  FONT-FAMILY: Arial;
  BACKGROUND-COLOR: transparent;
  TEXT-ALIGN: left;
  FONT-VARIANT: normal;
  TEXT-DECORATION: none
}

OL
{
  FONT-WEIGHT: normal;
  FONT-SIZE: 10pt;
  COLOR: black;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial, Tahoma
}

UL
{
  FONT-WEIGHT: normal;
  FONT-SIZE: 10pt;
  COLOR: black;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial, Tahoma
}

P
{
  FONT-WEIGHT: normal;
  FONT-SIZE: 10pt;
  COLOR: black;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial, Tahoma
}

PRE
{
  TEXT-INDENT: 0;
  MARGIN-LEFT: 0;
  FONT-WEIGHT: normal;
  FONT-SIZE: 10pt;
  COLOR: black;
  BACKGROUND-COLOR: #F6F6F6;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial, Tahoma
}

.Link1
{
  FONT-WEIGHT: normal;
  FONT-SIZE: 8pt;
  COLOR: black;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial, Tahoma;
  TEXT-DECORATION: none
}

.BoldWord
{
  FONT-WEIGHT: bold
}

.KeyWord
{
  COLOR: blue
}

.VBKeyWord
{
  COLOR: blue
}

.BlueWord
{
  COLOR: blue
}

.WhiteWord
{
  COLOR: white
}

.VBComment
{
  COLOR: green
}

.LastChg
{
  FONT-SIZE: 8pt
}

.Footer
{
  FONT-SIZE: 8pt;
  COLOR: red
}

.OuterTable
{
  BACKGROUND-COLOR: cornflowerblue
}

.InnerTable
{
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 20px;
  FONT-WEIGHT: bold;
  FONT-SIZE: 10pt;
  PADDING-BOTTOM: 0px;
  COLOR: white;
  PADDING-TOP: 0px;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial, Tahoma
}

/*
.menus
{
  FONT-SIZE: 8pt;
  COLOR: white;
  FONT-FAMILY: verdana, helvetica, arial;
  TEXT-DECORATION: none
}

.MenuLink
{
  FONT-SIZE: 8pt;
  COLOR: blue;
  FONT-FAMILY: Verdana;
  TEXT-DECORATION: none
}
*/

.ButtonSearch
{
  FONT-WEIGHT: bold;
  FONT-SIZE: 10px;
  TEXT-TRANSFORM: uppercase;
  WIDTH: 120px;
  COLOR: blue;
  background-color: white;
  FONT-FAMILY: arial, verdana, sans-serif
}

.OptionsSearch
{
  color: blue;
  FONT-SIZE: 11px;
  FONT-FAMILY: verdana, arial, sans-serif;
  FONT-WEIGHT: normal;
}

.TextSearch
{
  color: black;
  FONT-SIZE: 10px;
  FONT-FAMILY: verdana, arial, sans-serif;
  FONT-WEIGHT: normal;
}

.searchdiv
{
  border: 1px solid #BBB; 
  float: left;
  line-height:18px;
  z-index:100;
  background-color: white;
  width: 99%;
  visibility: visible;
  background: url(chromebg2.gif) center center repeat-x; /*Theme Change here*/
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}

.thescarmsdiv
{
  border: 1px solid #BBB; 
  float: left;
  z-index:100;
  background-color: white;
  width: 99%;
  visibility: visible;
  background: url(chromebg2.gif) center center repeat-x; /*Theme Change here*/
}

.thescarmsheader
{
  color: blue;
  FONT-SIZE: 32px;
  FONT-FAMILY: arial, verdana, sans-serif;
  FONT-WEIGHT: bold;
  FONT-STYLE: italic;
}

.thescarmstext
{
  color: red;
  FONT-SIZE: 20px;
  FONT-FAMILY: arial, verdana, sans-serif;
  FONT-WEIGHT: bold;
  FONT-STYLE: normal;
}
